<section class="welcome">
<div class="container">

<div class="Grid-heading">
<h1>{{ section.settings.grid_title }}</h1>
</div>

  <div class="Custom-grid-section">
<div class="Grid-layout">
<div class="Grid-image">
  {% for blocks in section.blocks %}
    <div class="image-container">
      {% if blocks.settings.image %}
<img src="{{ blocks.settings.image | image_url }}" alt="Grid Image" height="auto" width="auto">
      {% else %}
        <p>No image selected</p>
      {% endif %}

  
    </div>
  {% endfor %}
</div>

  <div class="Popup-section">
        {% if blocks.settings.selected_product %}
              {% assign product = all_products[blocks.settings.selected_product] %}
    <div class="popup-image">
      <img src="{{ product.featured_image | img_url: 'medium' }}" height="auto" width="auto">
    </div>
          <div class="popup-product-title">
          <h4>{{ product.title }}</h4>
          </div>
          <div class="popup-product-price">
             <p>{{ product.price }}</p>
          </div>
          <div class="popup-product-description">
            <p>{{ product.description }}</p>
          </div>
          <div class="popup-product-colors">
            <p>Select a Color</p>
            <label for="product-color">Select Color</label>
            <option>
             <select id="product-color" name="product_color">
        {% for variant in product.variants %}
          {% if variant.option1 %}
            <option value="{{ variant.id }}">{{ variant.option2 }}</option>
          {% endif %}
        {% endfor %}
      </select>
            </option>
          </div>

            <div class="popup-product-size">
              <p>Select a Size</p>
               <label for="product-color">Choose your color</label>
        <select id="product-color" name="product_color">
          {% for variant in product.variants %}
            {% if variant.option1 %}
              <option value="{{ variant.id }}">{{ variant.option1 }}</option>
            {% endif %}
          {% endfor %}
        </select>
            </div>
          
          {% endif %}
    
  </div>
  


</div>
  </div>
    
  
</div>
</section>
<!-- Welcome section ends -->
{% schema %}
{
  "name": "Section name",
  "settings": [
  
    {
      "type": "text",
      "id": "grid_title",
      "label": "Add Title",
      "default": "Custom Grid Title"
    },

  ],
  "blocks": [
    {
      "type": "Grid",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 50,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.slideshow.blocks.slide.settings.heading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "product",
          "id": "selected_product",
          "label": "Product Select"
        },
            {
      "type": "checkbox",
      "id": "enable_popup",
      "label": "Enable Pop-Up",
      "default": false
    },
        {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Grid",

      "blocks": [
        {
          "type": "Grid"
        }
      ]
    }
  ]
}
{% endschema %}

