<section class="welcome">
<div class="container">

<div class="Grid-heading">
<h1>{{ section.settings.grid_title }}</h1>
</div>
  {% for blocks in section.blocks %}
  <div class="Custom-grid-section">
<div class="Grid-layout">
<div class="Grid-image">

    <div class="image-container">
      {% if blocks.settings.image %}
<img src="{{ blocks.settings.image | image_url }}" alt="Grid Image" height="auto" width="auto">
      
      {% endif %}

  
    </div>

</div>

        <div class="Popup-section">
        {% if blocks.settings.selected_product %}
              {% assign product = all_products[blocks.settings.selected_product] %}
          <div class="popup-first-section">
          <div class="popup-image">
            <img src="{{ product.featured_image | img_url: 'large' }}" height="140" width="120">
          </div>
            <div class="popup-second-section">
          <div class="popup-product-title">
          <h4>{{ product.title }}</h4>
          </div>
          <div class="popup-product-price">
             <p>{{ product.price | money }}</p>
          </div>
          <div class="popup-product-description">
            <p>{{ product.description }}</p>
          </div>
              </div>
          </div>

     <div class="popup-product-colors">
              <p>Color</p>
        <div class="color-container">
            {% if product.variants.size > 1 %}
    {% for option in product.options_with_values %}
      {% if option.name == "Color" %}
          {% for value in option.values %}
            <div class="color-box">
              <span class="color-indicator" style="background-color: {{ value | downcase }}"></span>
              <span class="color-label">{{ value }}</span>
            </div>
          {% endfor %}
                {% endif %}
    {% endfor %}
  {% endif %}
        </div>

      </div>

         
<div class="popup-product-color">
  <p>Select a Color</p>
  <label for="product-color">Choose your color</label>
  <select id="product-color" name="product_color" placeholder="Choose your color">
    {% for variant in product.variants %}
      {% if variant.option1 %}
        <option value="{{ variant.id }}">{{ variant.option1 }}</option>
      {% endif %}
    {% endfor %}
  </select>
</div>

          <div class="Popup-product-button">
          <button>ADD TO CART</button>
          </div>
          
          {% endif %}
    
  </div>
  


</div>
  </div>
    
    {% endfor %}
</div>
</section>
<!-- Welcome section ends -->
{% schema %}
{
  "name": "Section name",
  "settings": [
  
    {
      "type": "text",
      "id": "grid_title",
      "label": "Add Title",
      "default": "Custom Grid Title"
    },

  ],
  "blocks": [
    {
      "type": "Grid",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 50,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.slideshow.blocks.slide.settings.heading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "product",
          "id": "selected_product",
          "label": "Product Select"
        },
            {
      "type": "checkbox",
      "id": "enable_popup",
      "label": "Enable Pop-Up",
      "default": false
    },
        {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Grid",

      "blocks": [
        {
          "type": "Grid"
        }
      ]
    }
  ]
}
{% endschema %}

